
<!-- author视图 -->
<dl class="author">
	<dt>本周推荐</dt>
	<dd ng-repeat="author in recAuthors">
		<div class="avatar">
			<img ng-src="{{author.avatar}}" alt="" style="border-radius: 50%">
		</div>
		<div class="info">
			<h5>{{author.name}}</h5>
			<p>{{author.editor_notes}}</p>
		</div>
	</dd>
	<dt>热门作者</dt>
	<dd ng-repeat="author in allAuthors">
		<div class="avatar">
			<img ng-src="{{author.avatar}}" alt="" style="border-radius: 50%">
		</div>
		<div class="info">
			<h5>{{author.name}}</h5>
			<p>{{author.editor_notes}}</p>
		</div>
	</dd>
</dl>